.imgSwitch {
    position: fixed;
    top: 40%;
    left: 200px;
    z-index: 2;
}

.layui-btn {
    width: 100%;
    padding: 0;
    margin: -0.3px 0;
    color: #333;
    background-color: rgb(232, 235, 242);
}

.layui-btn:hover {
    background-color: #333;
    color: #ffffff;
}

.active {
    background-color: blue !important;
    color: red !important;
}

.layui-nav {
    background-color: rgb(232, 235, 242);
}

.leftNav {
    width: 202px;
}

.tabContent {
    width: 98%;
    position: absolute;
    top: 6%;
    height: 890px;
}

.row {
    width: 65%;
}

.mainPage {
    display: none;
}

.layui-nav-tree {
    height: 898px;
    z-index: 2;
    margin-top: 30%;
}

.contentPosition {
    margin-left: 202px;
}

.functionBtn {
    position: fixed;
    top: 38%;
    right: 5%;
}

.functionBtn button {
    font-size: 20px;
    color: aliceblue;
    background: rgb(58, 85, 206);
    display: block;
    margin-top: 6%;
    width: 165px;
    height: 55px;
}

.layui-nav-item a {
    color: black !important;
}

.layui-nav-item a:hover {
    color: #ffffff !important;
}

.layui-nav .layui-nav-more {
    border-top-color: #333;
}


/* 穿梭框超出滚动 */

.layui-transfer-box {
    overflow: auto;
}

.listPopup {
    display: none;
}

.listPopupSel {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 75%;
}