.Capacity {
    width: 150px;
    background: white;
    font-size: 12px;
}

.top {
    background: #199fff;
    padding: 5px 5px;
}

.top span,
.top img {
    vertical-align: middle;
}

.top span {
    color: #ffffff;
}

.top img {
    float: right;
}

.flow {
    text-align: center;
    overflow: hidden;
}

.flow li {
    margin: 5px 0;
}


/*.xubox_title {
        background-color: white !important;
    }

    .xulayer_png32 {
        display: none !important;
    }

    .xubox_yes .xubox_botton2 {
        background: none !important;
        background-color: #0c68a7 !important;
    }

    .xubox_no .xubox_botton2 {
        background: none !important;
        background-color: white !important;
    }*/

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
}

.downBox {
    height: calc(100% - 60px) !important;
}

html {
    behavior: url(PIE.htc);
}

#pwd {
    color: #666;
}

#TaskInfomation {
    display: none;
}

#nav {
    height: 60px;
    background: url(Images/index_main/titleBg.png);
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}